
:root {
    --darkBlue: rgba(0,36,108,1);
    --medBlue: rgba(0,70,208,1);
    --bodyFont: 'Roboto', sans-serif;
    --titleFont: 'Lato', sans-serif;
    --backgroundImage:  url('../images/player.png.png');
    --hideCol: none;
}


.main {
    font-family: var(--bodyFont);
    color: white;
  font-size: 1.1rem;
    background: rgb(0,70,208);
background: linear-gradient(99deg, rgba(0,70,208,1) 0%, rgba(0,36,108,1) 75%);
    border-radius: 20px;   
    -webkit-box-shadow: inset 0px 0px 92px -27px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 92px -27px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 92px -27px rgba(0,0,0,1);
    min-width: 100%;
    overflow: hidden;
white-space: nowrap;

   
}

@media only screen and (max-width: 767px) { 
.main {
    background: rgb(0,70,208);
    background: linear-gradient(45deg, rgba(0,70,208,1) 20%, rgb(9, 53, 143) 75%);
}
}

.main::after { 
    content: ''; 
    background: var(--backgroundImage);
        background-image: var(--backgroundImage);
        background-position: center;
        background-repeat: no-repeat;
        background-size:contain;
    position: absolute; 
    opacity: 0.2; 
    top: 11%; 
    left: 18%;
    height: 60%;
    width: 60%;
}

@media only screen and (max-width: 392px) {  
    .main::after {
        content: ''; 
        background: var(--backgroundImage);
            background-image: var(--backgroundImage);
            background-position: center;
            background-repeat: no-repeat;
            background-size:contain;
        position: absolute; 
        opacity: 0.1; 
        top: 0%; 
        left: 9%;
        height: 80%;
        width: 80%;
    }
    }

.outer {
    width: 170px;
}

.inner {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;

}



.circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #fff;
    border: 2px solid #eb0000;
    color: #eb0000;
    text-align: center;
    box-shadow: 0px 2px 5px 1px rgb(54, 54, 54);
    margin-top: 0;
    margin: 0;
  }


  @media only screen and (max-width: 715px) {  
    .circle {
        height: 25px;
        width: 25px;
        font-size: 0.8rem;
    } 
}


.title {
    font-family: var(--titleFont);
    font-size: 3.3rem;     
    font-weight: bold;
    text-shadow: 0px 3px 3px rgb(0, 0, 0); 
}

@media only screen and (max-width: 392px) {   
    .title {
        font-size: 2.2rem;
    }}



.head-text {
    font-weight: bold;
}

.head {
    border-bottom: 2px solid rgb(173, 173, 173);
    box-shadow: 0px 0px 25px 5px rgb(53, 53, 53);
    margin-bottom: 10px;
}

.foot {
    border-top: 2px solid rgb(243, 243, 243);
    box-shadow: 0px 0px 5px 2px rgb(53, 53, 53);
    margin-top: 20px; 
}




.flag {
    height: 30px;
    width: auto;
}

@media only screen and (max-width: 990px) {
    .flag {
        height: 25px;
        width: auto;
    }
    }


 @media only screen and (max-width: 1420px) {   
    .box {
        width: 50%;
    }}


    @media only screen and (min-width: 1420px) {   
        .box {
            width: 35%;
        }
    }

    @media only screen and (max-width: 498px) {   
        .box {
            width: 70%;
        }}

        @media only screen and (max-width: 392px) {   
            .box {
                width: 80%;
            }}


    
    .team-name {
        font-size: 1.2rem;
        padding: 0;
        margin: 0;
     
    }

    @media only screen and (max-width: 2025px) {   
        .team-name {
            font-size: 1.2rem;
        }
    }

    @media only screen and (max-width: 1841px) {   
        .team-name {
            font-size: 1rem;
        }
    }

    
    @media only screen and (max-width: 1630px) {   
        .team-name {
            font-size: 0.9rem;
        }

        .outer {
            width: 130px;
        }
        
        .inner {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 130px;
        
        }
    }

       
    @media only screen and (max-width: 1414px) {   
        .team-name {
            font-size: 0.8rem;
        }
        .outer {
            width: 110px;
        }
        
        .inner {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 110px;
        
        }
    }

    @media only screen and (max-width: 1225px) {   
        .team-name {
            font-size: 0.8rem;
        }
        .outer {
            width: 90px;
        }
        
        .inner {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 90px;
        
        }
    }
        
    @media only screen and (max-width: 1082px) {   
        .team-name {
            font-size: 0.8rem;
        }
    }    

    @media only screen and (max-width: 1020px) {   
        .team-name {
            font-size: 0.8rem;
        }
        .outer {
            width: 70px;
        }
        
        .inner {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 70px;
        
        }
    }


    @media only screen and (max-width: 924px) {   
        .team-name {
            font-size: 0.8rem;
        }
    }

    
    @media only screen and (max-width: 832px) {   
        .team-name {
            font-size: 0.8rem;
        }
        .outer {
            width: 70px;
        }
        
        .inner {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 70px;
        
        }
    }


    @media only screen and (max-width: 767px) {   
        .team-name {
            font-size: 1.2rem;
        }
        .outer {
            width: 170px;
        }
        
        .inner {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 170px;
        
        }
    }

    @media only screen and (max-width: 706px) {   
        .team-name {
            font-size: 1.2rem;
        }
    }

    @media only screen and (max-width: 630px) {   
        .team-name {
            font-size: 0.9rem;
        }
    }

    @media only screen and (max-width: 568px) {   
        .team-name {
            font-size: 1.1rem;
        }
    }

    @media only screen and (max-width: 504px) {   
        .team-name {
            font-size: 1rem;
        }
    }

    @media only screen and (max-width: 446px) {   
        .team-name {
            font-size: 1rem;
        }
    }

    .cursor:hover {
        cursor: pointer;
    }

/* classes for each column to be turned off */
.shieldColHead {
    display: flex;
    justify-content: center;
    align-items: center;
   
    /* display: var(--hideCol); */
}

.shieldCol {
    display: flex;
    justify-content: center;
    align-items: center;
     
    /* display: var(--hideCol); */
}

.positionColHead {
    /* display: var(--hideCol); */
}

.positionCol {
    display: flex;
    justify-content: center;
    align-items: center;
   
    /* display: var(--hideCol); */
}

.flagColHead {
    /* display: var(--hideCol); */
}

.flagCol {
    display: flex;
    justify-content: center;

    /* display: var(--hideCol); */
}

.teamColHead {

    /* display: var(--hideCol); */
}

.teamCol {
    display: flex;
    align-items: center;
 
    /* display: var(--hideCol); */
}

.shirtColHead {
display: flex;
justify-content: center;
align-items: center;

/* display: var(--hideCol); */
}

.shirtCol {
display: flex;
justify-content: center;
align-items: center;

/* display: var(--hideCol); */
}

.pColHead {
    /* display: var(--hideCol); */
}

.pCol {
    /* display: var(--hideCol); */
}

.ptsColHead {
    /* display: var(--hideCol); */
}

.ptsCol {
    /* display: var(--hideCol); */
}

.plusMinusColHead {
    /* display: var(--hideCol); */
}

.plusMinusCol {
    /* display: var(--hideCol); */
}





